.square-bkg {
  background-image: url("../images/news-background.png");
  background-repeat: repeat;
  background-position: left top;
}

.news {
  color: #fff;
  padding: 70px 0;
  @extend .square-bkg;
  .news-feature {
    background-color: transparent;
    padding-bottom: 50px;
    .title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .excerpt { line-height: 2; }

    .thumb { @include box-shadow( 0 0 12px #000 ); }

    a {
      font-size: 36px;
      color: #fff;
      text-decoration: none;
    }
  }

  .article {
    background-color: #fff;
    @include box-shadow( 0 0 12px #000 );
    .title {
      color: $primary-color;
      font-size: 20px;
      padding: 5px 10px;
      margin-bottom: -15px;
    }

    .excerpt {
      color: #333333;
      padding: 2px 10px;
    }

    a { color: $primary-color; }
  }
}

.single,
.category,
.page {
  @extend .square-bkg;
  .header { border-bottom: none; }
  main { padding-bottom: 50px; }
}

.single,
.page {
  main { padding-top: 130px; }
}

.category {
  main { padding-top: 100px; }
}

.page-title {
  color: #fff;
  h1 { margin-bottom: 20px; }

  .category-desc {
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 40px;
  }
}
